/* Variables */
:root{
    --color-primary: #ffce00;
    --color-secundary: #ffa300;
    --color-bg: #71737a;
    --color-text: rgb(178,178,178);
    --font-title: groove;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
h3{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a img{
    display: inline-block;
}
nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(20,22,21);
    /* background-color: var(--color-bg); */
}

nav img{
    margin: 25px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin-right: 15px;
    /* font-family: var(--font-title); */
    color: white;
}
nav ul li a:hover{
    color: grey;
}
main{
    display: flex;
    text-align: left;
    padding: 50px;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
    background-color: var(--color-text);
}
footer{
    width: 100vw;
    min-height: 150px;
    background-color: rgb(20,22,21);
    /* background-color: var(--color-bg); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    list-style: none;
}
footer img{
    margin: 25px;
}
footer ul li a{
    /* color: var(--color-text); */
    color: white;
    text-decoration: none;
    font-size: 35px;
    margin: 5px;
}
footer ul li a:hover{
    color: grey;
}
.about{
    display: flex;
    padding: 50px;
    justify-content: center;
    width: 90%;
}
.data{
    margin-top: 100px;
    width: 20%;
}
.data img p{
    display: inline;
}
.about-content{
    padding: 25px;
}
.fotos{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.fotos img{
    width: 250px;
    height: 300px;
}
.fotosIndex img{
    width: 250px;
    height: 300px;
}
/* ESTO ES PARA IMPORTAR LAS FUENTES, IMPORTAMOS DE DAFONT */
@font-face {
    font-family: groove;
    src: url('../fonts/groove.ttf');
}

/* GALERIA (FER CSS APOSTA?)*/ 
.fotos{
    width: 80%;
    display: inline-block;
}
img{
    margin: 10px;
}
img.enlarged:hover {
    width: 300px; 
    height: 350px;
    margin-top: 20px;
}