{% extends 'layouts/base.html' %}
{% block title %}
Galería
{% endblock %}

{% block content %}
<h1>Galería</h1>
<div class="fotos">
    <img src="https://picsum.photos/200/300" class="enlarged"/>
    <img src="https://picsum.photos/200/300" alt="" class="enlarged2"/>
    <img src="https://picsum.photos/200/300" alt="" class="enlarged2"/>
    <img src="https://picsum.photos/200/300" alt="" class="enlarged2"/>
    <img src="https://picsum.photos/200/300" alt="" class="enlarged2"/>
    <img src="https://picsum.photos/200/300" class="enlarged"/>
    <img src="https://picsum.photos/200/300" alt="" class="enlarged2"/>
    <img src="https://picsum.photos/200/300" alt="" class="enlarged2"/>
    <img src="https://picsum.photos/200/300" alt="" class="enlarged2"/>
    <img src="https://picsum.photos/200/300" alt="" class="enlarged2"/>
</div>
{% endblock %}