{% extends 'layouts/base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Latika Tattoo</h1>
<div class="about">
    <img src="https://picsum.photos/id/870/200/300?grayscale&blur=2" alt="Far">
    <div class="about-content">
        <h3>Info....</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis necessitatibus voluptate blanditiis optio
            adipisci dolorem, odit nesciunt inventore, eligendi, architecto expedita aliquid. Corrupti omnis odit
            ratione amet impedit voluptas blanditiis!</p>
    </div>
</div>
{% endblock %}